.grid {
  width: 600px;
  margin: 0 auto;
  padding-top: 3%;
}

.card {
  width: 90px;
  height: 90px;
  text-align: center;
  display: inline-block;
  /*margin: 0 auto;*/
  margin: 5px;
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card img {
  width: 90px;
}

@media only screen and (max-width: 768px) {
  .grid {
    width: 300px;
    margin: 0 auto;
  }

  .card {
    width: 60px;
    height: 60px;
  }
    
  .card img {
    width: 60px;
  } 
}